*.pyc
*.dot
*.pdf
*.png
.ipynb_checkpoints
*.gz
data/accounts.*.csv
data/accounts.h5
data/random.hdf5
data/weather-big
data/myfile.hdf5
data/flightjson
data/holidays
data/nycflights
data/myfile.zarr
data/accounts.parquet
dask-worker-space/
profile.html
log
.idea/
_build/
