@import "../sphinx-book-theme.css";

:root {
  /* Main colors */
  --yellow: #ffc11e;
  --white: #fff;
  --blue: #1f5aff;
  --dark-blue: #183d72;
  --light-grey: #f6f6f6;
  --grey: #33363d;
  --dark-grey: #262326;
  --black: #080815;
  --green: #17955c;
  --salmon: #fc6e6b;
  --red: #ef1161;
  --purple: #f61fff;
  --pst-color-text-base: var(--black);
  --pst-color-navbar-link: var(--yellow);
  --pst-color-link: var(--black);
  --pst-color-link-hover: var(--yellow);
  --pst-color-inline-code: var(--salmon);

  /* Font Family */
  --pst-font-family-base-system: Inter-Regular;
  --pst-font-family-monospace-system: Inconsolata-Regular;
  --pst-font-family-base: var(--pst-font-family-base-system);
  --pst-font-family-heading: var(--pst-font-family-base);
  --pst-font-family-monospace: var(--pst-font-family-monospace-system);
}

@font-face {
  font-family: Inter-Regular;
  font-weight: 400;
  src: local("Inter-Regular"),
    url(../fonts/Inter-Regular.ttf) format("TrueType");
}

@font-face {
  font-family: Inter-Bold;
  font-weight: bold;
  src: local("Inter-Bold"), url(../fonts/Inter-Bold.ttf) format("TrueType");
}

@font-face {
  font-family: Inter-SemiBold;
  font-weight: bold;
  src: local("Inter-SemiBold"),
    url(../fonts/Inter-SemiBold.ttf) format("TrueType");
}

@font-face {
  font-family: Inconsolata-Regular;
  font-weight: 400;
  src: local("Inconsolata-Regular"),
    url(../fonts/Inconsolata-Regular.ttf) format("TrueType");
}

code {
  color: var(--salmon);
  font-size: 16px !important;
}

body {
  padding-top: calc(var(--pst-header-height) + 20px);
  background-color: #fff;
  font-family: Inter-Regular;
  font-weight: 400;
  line-height: 1.65;
  color: var(--black);
}

*,
:after,
:before {
  box-sizing: border-box;
}

body {
  background-image: url("../images/background-grid.svg");
  background-repeat: repeat;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  max-width: 1600px;
  margin-left: inherit;
  background-color: white;
}

@media (min-width: 1600px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 85%;
  }
}

.bd-sidebar {
  /* max-width: 350px; */
}

.prev-next-bottom {
  display: none;
}

/* reference links */

main.bd-content #main-content a {
  color: var(--pst-color-link);
  text-decoration: underline;
  text-decoration-color: var(--yellow);
  text-underline-offset: 3px;
}

main.bd-content #main-content a:hover {
  color: var(--pst-color-link-hover);
}

/* navigation pane - left sidebar */

#site-navigation {
  background: var(--light-grey);
  background-image: url("../images/background-grid.svg");
  margin-top: 4em;
}

#site-navigation nav ul.nav li a {
  padding-left: 2%;
  color: var(--black);
  text-decoration: none;
}

#site-navigation nav ul.nav ul li a {
  color: var(--black);
}

#site-navigation nav ul.nav a:hover {
  color: var(--black);
  font-weight: 700;
  border-left: 2px solid var(--black);
}

/* #site-navigation nav ul.nav li a:active {
    border-left: 2px solid var(--yellow)
} */

#site-navigation nav ul.nav li.active > a {
  border-left: 2px solid var(--yellow);
}

#site-navigation nav.bd-links p.caption {
  font-size: var(--pst-sidebar-caption-font-size);
  text-transform: uppercase;
  font-family: Inter-SemiBold;
  position: relative;
  margin-top: 1.25em;
  margin-bottom: 0.5em;
  color: var(--black);
}

#site-navigation div.navbar_extra_footer {
  color: var(--black);
  padding-bottom: 3em;
  margin-bottom: 0;
}

/* table on contents (right sidebar) */
.bd-toc .toc-entry a {
  color: var(--black);
  text-decoration: none;
}

.bd-toc nav li.active > a.active {
  font-family: Inter-SemiBold;
  border-left: 2px solid var(--yellow);
}

.topbar,
.topbar-contents,
.topbar-main {
  height: 3em;
}

.fixed-top {
  top: 4em;
}

div.navbar-brand-box {
  padding-top: 0;
}

main.bd-content {
  padding-top: 6em !important;
}

/* top bar */

.dask-nav {
  background-color: var(--black);
  height: 4em;
  display: block;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 2100;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0;
}

.dask-nav ul {
  background-color: var(--dark-grey);
  padding: 0;
  margin-bottom: 0;
  white-space: nowrap;
}

.dask-nav ul > li {
  display: inline-block;
  position: relative;
  transition: 0.3s;
  text-align: left;
  padding: 0.5em 2rem 0.5em 2rem;
}

.dask-nav ul > li > a {
  color: white;
}

.dask-nav ul > li > a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-color: var(--yellow);
}

.dask-nav .logo {
  width: 275px;
  text-align: center;
}

@media (max-width: 768px) {
  .dask-nav .logo {
    width: 100%;
  }

  #site-navigation.collapse.show {
    margin-top: 7em;
  }
}

.dask-nav img {
  height: 3em;
}

ul.navbar-nav:hover li {
  opacity: 0.5;
  transition: var(--transition);
}

ul.navbar-nav li.nav-item:hover {
  opacity: 1 !important;
  transition: var(--transition);
}

ul.current.nav.bd-sidenav
  li.toctree-l1.current.active
  a.current.reference.internal {
  font-weight: inherit;
}

.toc-entry > .nav-link.active {
  font-family: Inter-Regular;
  font-weight: inherit;
}

.sphinx-tabs {
  max-width: 100%;
}

/* See https://github.com/dask/dask/issues/8236 */
.classifier::before {
  content: ": ";
}

footer {
  bottom: 0;
  left: 0;
  width: 76%;
  height: 50px;
  background-color: var(--grey);
  color: var(--white);
}

/* icons */

/* .fa-download:before {
    content: url('../images/icon-download.svg');
}

.fa-expand:before {
    content: url('../images/icon-expand.svg');
}

.fa-bars:before {
    content: url('../images/icon-menu.svg');
} */
