name: repo2docker CI

name: Binder
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Build and cache on mybinder.org
      uses: jupyterhub/repo2docker-action@master
      with:
        NO_PUSH: true
        MYBINDERORG_TAG: ${{ github.event.ref }}
